{{ define "main" }}
<div class="container">
    <h1>
        {{ .Title }}
    </h1>

    {{ .Content }}

    {{ range sort .Pages ".File.BaseFileName" }}
        <p>
            {{with .Param "PageIcon"}}
                {{.}}
            {{else}}
                {{.CurrentSection.Param "SectionIcon"}}
            {{end}}

            {{ with .Date}}
                <small>{{ dateFormat "2006-02-01" . }}</small>
            {{ end }}
            <a href="{{ .Permalink }}">{{ .Title }}</a>
        </p>
    {{ end }}
</div>
{{ end }}
